*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  border: 1px solid red;
  position: relative;
  width: 100%;
  height: auto;
}

#rain{
  position: absolute;

  top: 0;
}

.content{
  border: 1px solid yellow;
}

h1{
  color: white;
  width: fit-content;
  margin: auto;
}

main{
  height: 2000px;
  border: 1px solid orange;
}
